{
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"bracketSpacing": true,
	"importOrder": [
		"^node:(.*)$",
		"<THIRD_PARTY_MODULES>",
		"^[./]",
		"^./config.js"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
