@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #eee;
	display: flex;
	justify-content: safe center;
}

.lime {
	border-color: #93fe00;
}

.dark-green {
	border-color: #008037;
}

.red {
	border-color: #fd3535;
}

.orange {
	border-color: #ff8a2f;
}

.sky-blue {
	border-color: #55d5ff;
}

.purple {
	border-color: #924bff;
}

.teamOne {
	border-color: #19e691;
}

.teamTwo {
	border-color: #19e6d5;
}

.teamThree {
	border-color: #d419e6;
}

.teamFour {
	border-color: #19d5e6;
}

.teamFive {
	border-color: #e619d5;
}

.teamSix {
	border-color: #2a19e6;
}

.teamSeven {
	border-color: #e61919;
}

.team-box {
	min-width: 200px;
	border-radius: 5px;
	border-style: solid;
	margin-right: 3px;
	margin-left: 3px;
	border-width: 4px;
	padding: 4px;
	display: inline-table;
	height: fit;
	margin-bottom: 10px;
}

#container {
	margin: 5px;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	text-align: center;
	flex-shrink: 1;
}

#loading {
	text-align: center;
	font-size: 40px;
}

.team-name {
	font-size: 30px;
	font-weight: bold;
}

a,
a:visited {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}
