@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #eee;
}

.button,
.button:visited {
	text-align: center;
	border: none;
	background-color: #3d5dff;
	color: white;
	text-decoration: none;
	border-radius: 8px;
	padding: 8px;
	transition: 0.2s;
}

.button:hover {
	filter: brightness(120%);
}

#login-container {
	margin-top: 22px;
	text-align: center;
	font-size: 20px;
}

.hidden {
	display: none;
}

.user {
	padding-left: 20px;
}

#dashboard {
	margin-top: 20px;
	text-align: center;
	font-size: 15px;
}

table {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

td,
th {
	text-align: left;
	padding: 4px;
}

a, a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}