@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #eee;
}

h1 {
	font-family: "Bebas Neue", sans-serif;
	font-size: 50px;
}

img {
	max-width: 100%;
}